<ion-header>
  <ion-toolbar>
    <!-- Imagen con una clase personalizada -->
    <img src="assets/img/R.png" alt="DUOC UC" class="imagen-personalizada">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-container">
  <h1 style="display: flex; justify-content: center; align-items: center;">Ajustes</h1>
  <div >
    <ion-buttons slot="end" class="boton-ingresar">
      <ion-button (click)="toggleTheme()">
        <ion-icon name="moon" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <ion-button expand="block" (click)="cerrarSesion()" class="boton-restablecer" >Cerrar sesión</ion-button>
</ion-content>


