.boton-restablecer {
    width: 150px;
    height: 50px;
    --background: #021826; /* Color de fondo */
    --color: #ffffff; /* Color del texto */
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-size: 15px;  
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%; /* Ajusta la distancia desde el borde inferior */
    left: 50%; /* Lo centra horizontalmente */
    transform: translateX(-50%);  
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto garantiza que el botón se mueva hacia abajo */
    align-items: center; /* Centra el contenido horizontalmente */
    height: 100%; /* Asegura que ocupe toda la altura del contenedor */
}

::ng-deep .boton-ingresar {
    width: 150px;
    height: 50px;
    --background: #FDBA31; /* Color de fondo */
    --color: #021826; /* Color del texto */
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:20px ;
  }
  