<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="vista-inicio">
      <ion-icon name="person"></ion-icon>
      <ion-label>Datos Personales</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vista-qr">
      <ion-icon name="qr-code"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vista-config">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
