ion-content {
    padding: 16px;
}

.asignatura-detalles-container {
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detalle-item {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #007bff;
    padding-bottom: 5px;
}
